<h1>Listing end_points</h1>

<table>
  <tr>
    <th>Full path</th>
    <th>Response body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @end_points.each do |end_point| %>
  <tr>
    <td><%= end_point.full_path %></td>
    <td><%= end_point.response_body %></td>
    <td><%= link_to 'Show', end_point %></td>
    <td><%= link_to 'Edit', edit_end_point_path(end_point) %></td>
    <td><%= link_to 'Destroy', end_point, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New End point', new_end_point_path %>
